Flows_Bluecity_V2.json
[{"id":"55ac45c1.ad70b4","type":"tab","label":"Flow_Flow.GET_.SET (creando y leyendo \"variables\")","disabled":false,"info":""},{"id":"a9fc6448.d4d388","type":"tab","label":"Flow_WorkWith_DATE_TIME","disabled":false,"info":""},{"id":"9e9e716f.526e98","type":"tab","label":"Flow_String2Json_Json2String","disabled":false,"info":""},{"id":"16173ec6.f11279","type":"tab","label":"Flow_Email-Send-Receive","disabled":false,"info":""},{"id":"69e8b34b.f16a04","type":"tab","label":"Json2QR_&_ImageCarousel_DASHBOARD","disabled":false,"info":""},{"id":"346372da.3568f6","type":"tab","label":"JS_MAP_&_FILTER","disabled":false,"info":""},{"id":"eba153e4.459308","type":"tab","label":"Post_Requests","disabled":false,"info":""},{"id":"b49f0ba8.f4c1b8","type":"tab","label":"Cierre Seguridad automatico_puertas","disabled":false,"info":""},{"id":"b7f989e6.c7064","type":"tab","label":"Cambiando estados de la puerta (en BBDD) segun sensor","disabled":false,"info":""},{"id":"8a00d27.e2ac83","type":"ui_group","name":"QR","tab":"ce151a6d.449998","order":1,"disp":false,"width":"12","collapse":false},{"id":"e27540f1.139b6","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#2df432","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#15e9f3","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"BlueCity","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7d0d2bc.c05e6","type":"MySQLdatabase","name":"RaspiBBDD","host":"127.0.0.1","port":"3306","db":"parking_db","tz":"","charset":"UTF8"},{"id":"ce151a6d.449998","type":"ui_tab","name":"BlueCity","icon":"dashboard","disabled":false,"hidden":false},{"id":"4cc623a9.a9e1cc","type":"MySQLdatabase","name":"parking_db","host":"127.0.0.1","port":"3306","db":"parking_db","tz":"","charset":"UTF8"},{"id":"c73731fd.16bb","type":"e-mail","z":"16173ec6.f11279","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"EMAIL_DE_DESTINO@gmail.com","dname":"","x":600,"y":140,"wires":[]},{"id":"48d35e92.46c918","type":"http in","z":"16173ec6.f11279","name":"","url":"/send_mail","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["99152284.e1bbd8"]]},{"id":"99152284.e1bbd8","type":"function","z":"16173ec6.f11279","name":"Formando Mensaje","func":"msg.payload=\"MENSAJE: que dise er cabesa automandandose correos\";\nmsg.topic= \"ASUNTO: con un GET desde NODE RED\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["c73731fd.16bb"]]},{"id":"1e928b13.1f47c5","type":"e-mail in","z":"16173ec6.f11279","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","criteria":"UNSEEN","repeat":"60","fetch":"auto","inputs":0,"x":70,"y":260,"wires":[["137feab5.4a8925"]]},{"id":"847e0f61.5ed3d","type":"debug","z":"16173ec6.f11279","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"137feab5.4a8925","type":"rbe","z":"16173ec6.f11279","name":"REFRESCANDO SOLO correos NUEVOS","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":340,"wires":[["847e0f61.5ed3d"]]},{"id":"88ecf668.31cf5","type":"comment","z":"16173ec6.f11279","name":"\"rbe \"Hace que solo refresque el valor si es distinto al anterior, o  nuevo descartando los valores que eran iguales anteriormente","info":"","x":440,"y":380,"wires":[]},{"id":"187f6818.dc1b88","type":"comment","z":"16173ec6.f11279","name":"·Enviando EMAIL al recibir una peticion GET","info":"","x":260,"y":100,"wires":[]},{"id":"7b2ca8d0.4aa3a","type":"comment","z":"55ac45c1.ad70b4","name":"Creando FLOW.SET(una variable) para poder utilizarla sin que se pierda el valor","info":"","x":330,"y":60,"wires":[]},{"id":"2a5949ce.d9c49e","type":"inject","z":"55ac45c1.ad70b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":140,"wires":[["421ab944.b50a28","c8d0aaa4.e2b82"]]},{"id":"421ab944.b50a28","type":"function","z":"55ac45c1.ad70b4","name":"FowSet-(\"variable1\") //Creando Variable","func":"flow.set(\"variable1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["c8d0aaa4.e2b82"]]},{"id":"557d6065.ca7b48","type":"comment","z":"9e9e716f.526e98","name":"Conversión a JSON","info":"","x":330,"y":80,"wires":[]},{"id":"44d943cc.d6256c","type":"inject","z":"9e9e716f.526e98","name":"Inject String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"esto es una string que se vuelve a json","payloadType":"str","x":103.00003051757812,"y":118,"wires":[["ae8782ee.d032"]]},{"id":"ae8782ee.d032","type":"function","z":"9e9e716f.526e98","name":"de STRING a JSON","func":"msg.payload= msg.payload;\nvar json = {\"Parametro_1\":msg.payload,\"attrib2\":\"este es el segundo valor\"};\nreturn {\"payload\":json};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":323.0000305175781,"y":118,"wires":[["626057b0.fbb358","913638f0.3a96a","dfed00f.8ee7c8"]]},{"id":"626057b0.fbb358","type":"debug","z":"9e9e716f.526e98","name":"Mostrando 1 parametro del JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Parametro_1","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":120,"wires":[]},{"id":"30b51d00.c14d34","type":"function","z":"9e9e716f.526e98","name":"de JSON a STRING otro metodo","func":"var str = JSON.parse(msg.payload);\nnode.log(typeof str);\nmsg.payload= str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["1cc51039.e0bdd8","7376b93e.60479"]]},{"id":"913638f0.3a96a","type":"debug","z":"9e9e716f.526e98","name":"Mostrando JSON completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"bee82111.d9514","type":"function","z":"9e9e716f.526e98","name":"de STRING a JSON otro metodo","func":"var jason= {\"attrib1\":msg.payload,\"attrib2\":\"este es el segundo valor\"};\nnode.log(typeof jason);\nmsg.payload = JSON.stringify(jason);\n//return {\"payload\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["30b51d00.c14d34","1cc51039.e0bdd8","7376b93e.60479"]]},{"id":"dfed00f.8ee7c8","type":"function","z":"9e9e716f.526e98","name":"de JSON a STRING","func":"var aux = msg.payload;\nmsg.payload= aux;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["626057b0.fbb358","913638f0.3a96a"]]},{"id":"1cc51039.e0bdd8","type":"debug","z":"9e9e716f.526e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"7376b93e.60479","type":"debug","z":"9e9e716f.526e98","name":"Mostrando 1 parametro del JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.attrib1","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":300,"wires":[]},{"id":"f4d1dff5.5f9018","type":"inject","z":"9e9e716f.526e98","name":"Inject String numeric","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ingresando numeros 3434634235623463","payloadType":"str","x":110,"y":300,"wires":[["bee82111.d9514"]]},{"id":"94a36704.b85cc","type":"comment","z":"9e9e716f.526e98","name":"Conversión a STRING","info":"","x":560,"y":160,"wires":[]},{"id":"ad3379db.382c78","type":"function","z":"55ac45c1.ad70b4","name":"FowGet-(\"variable1\") //Leyendo Variable","func":"msg.payload= \"leyendo 'variable1: '\"+ flow.get(\"variable1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["c8d0aaa4.e2b82"]]},{"id":"c8d0aaa4.e2b82","type":"debug","z":"55ac45c1.ad70b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"ad38733f.f46b18","type":"inject","z":"55ac45c1.ad70b4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Soy el Detonador2","payloadType":"str","x":110,"y":320,"wires":[["ad3379db.382c78","c8d0aaa4.e2b82"]]},{"id":"f3690fff.04cc5","type":"inject","z":"a9fc6448.d4d388","name":"Detonador","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":120,"wires":[["daab4f1a.a5479","e8e547d9.475a08"]]},{"id":"daab4f1a.a5479","type":"function","z":"a9fc6448.d4d388","name":"Trabajando con FECHAS","func":"var dte = new Date();\ndiasdelasemana = [\"domingo\",\"lunes\",\"martes\",\"miercoles\",\"jueves\",\"viernes\",\"sabado\"]\nmsg.anio=(dte.getYear()+1900);\nmsg.mes=dte.getMonth()+1;\nmsg.diasemana = diasdelasemana[dte.getDay()];\nmsg.horas=dte.getHours();\nmsg.minutos=dte.getMinutes();\nmsg.segundos = dte.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["9e141efe.ba212","7dd0977e.e361","e6d33551.5de81","8e326c3e.6bbe2","dd315a8f.b97a","2ad3bdb7.6dff22","545fd3d0.aea184"]]},{"id":"9e141efe.ba212","type":"debug","z":"a9fc6448.d4d388","name":"Mostrando OBJETO COMPLETO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"e8e547d9.475a08","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":20,"wires":[]},{"id":"2ad3bdb7.6dff22","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"minutos","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"545fd3d0.aea184","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"e6d33551.5de81","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mes","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"8e326c3e.6bbe2","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"diasemana","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"dd315a8f.b97a","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"horas","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"7dd0977e.e361","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"anio","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"3a58e11b.29bebe","type":"inject","z":"a9fc6448.d4d388","name":"Pulso a cada segundo","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":580,"wires":[["83dfa4eb.616048"]]},{"id":"83dfa4eb.616048","type":"function","z":"a9fc6448.d4d388","name":"Enviando FECHA Completa","func":"var dte = new Date();\ndiasdelasemana = [\"domingo\",\"lunes\",\"martes\",\"miercoles\",\"jueves\",\"viernes\",\"sabado\"]\nmsg.anio=(dte.getYear()+1900);\nmsg.mes=dte.getMonth()+1;\nmsg.diasemana = diasdelasemana[dte.getDay()];\nmsg.horas=dte.getHours();\nmsg.minutos=dte.getMinutes();\nmsg.segundos = dte.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["b2ddffcf.4df458"]]},{"id":"b8b94510.a8e988","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"minutos","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":480,"wires":[]},{"id":"b2ddffcf.4df458","type":"rbe","z":"a9fc6448.d4d388","name":"Dejará pasar 1 pulso cada vez que cambien los minutos","func":"rbe","gap":"","start":"","inout":"out","property":"minutos","x":770,"y":580,"wires":[["b8b94510.a8e988","c15c73d1.ad8d5"]]},{"id":"6947ca47.3d2734","type":"comment","z":"a9fc6448.d4d388","name":"Ejecutando 1 PULSO cuando cambien los MINUTOS","info":"","x":750,"y":520,"wires":[]},{"id":"52f11652.0dbb3","type":"comment","z":"a9fc6448.d4d388","name":"Habilitar repetir a intervalos de 1 SEGUNDO","info":"","x":170,"y":540,"wires":[]},{"id":"c15c73d1.ad8d5","type":"switch","z":"a9fc6448.d4d388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["66158009.c5cb2"],["ea1f173b.59fb38"]]},{"id":"66158009.c5cb2","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":540,"wires":[]},{"id":"ea1f173b.59fb38","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":600,"wires":[]},{"id":"e44291e9.07df5","type":"ui_template","z":"69e8b34b.f16a04","group":"8a00d27.e2ac83","name":"Show IMAGES in DASHBOARD","order":1,"width":12,"height":12,"format":"<body>\n<img src={{msg.payload}}>\n</body>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":340,"wires":[["a379e000.c161a"]]},{"id":"7eb9b611.bfdda","type":"qrcode-generator","z":"69e8b34b.f16a04","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":470,"y":400,"wires":[["5adb84b8.e4908c","e44291e9.07df5"]]},{"id":"a379e000.c161a","type":"image viewer","z":"69e8b34b.f16a04","name":"","width":160,"data":"payload","dataType":"msg","x":930,"y":420,"wires":[[]]},{"id":"d22d0d85.0450d8","type":"function","z":"69e8b34b.f16a04","name":"MAKE msg.qrcodeinput FOR  PASS TO qrcode-gen","func":"//var str = \"MI MENSAJE MOD\";\n//msg.qrcodeinput = str + \"lo que venga del JSON enviado por el servidor\";\n//msg.qrcodeinput = \"email@gmail.com\";\n\n//msg.email= msg.payload.map(m=>m.param1);\n\n//return msg;\n\n\n\nfor (var f in msg.payload){\n    msg.mensaje=msg.payload[f];\n}\n\nmsg.qrcodeinput= msg.mensaje;\n\nflow.set(\"qr_aux\", msg.qrcodeinput);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":480,"wires":[["5e30b475.431104","7eb9b611.bfdda"]]},{"id":"2d5f0fb6.b198b","type":"Barcode Decoder","z":"69e8b34b.f16a04","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1110,"y":420,"wires":[["33d13771.0c0358"]]},{"id":"1c74c708.7a11a1","type":"inject","z":"69e8b34b.f16a04","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":70,"y":120,"wires":[["be0c9ebc.dc9ee8"]]},{"id":"ccfcb6ef.7335a","type":"comment","z":"69e8b34b.f16a04","name":"dashboard en 127.0.0.1/ui/","info":"","x":1070,"y":300,"wires":[]},{"id":"33d13771.0c0358","type":"debug","z":"69e8b34b.f16a04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":500,"wires":[]},{"id":"44673a5f.6088cc","type":"comment","z":"69e8b34b.f16a04","name":"Chuleta! - Peticion POST con CURL","info":"curl  -d \"param1=lalalala&param2=lelele&param3=lilili\" -X POST 127.0.0.1:1880/abrepuerta","x":140,"y":420,"wires":[]},{"id":"6d6bd403.5878cc","type":"http in","z":"69e8b34b.f16a04","name":"","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":70,"y":480,"wires":[["d22d0d85.0450d8","1956d5ef.7c8d6a"]]},{"id":"5e30b475.431104","type":"debug","z":"69e8b34b.f16a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mensaje","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":540,"wires":[]},{"id":"95f5bd10.2a6c7","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.email","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"b5b218ea.2cd808","type":"inject","z":"346372da.3568f6","name":"Consulta a la BBDD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM boxes","payload":"","payloadType":"str","x":110,"y":260,"wires":[["9466cb15.bcd708"]]},{"id":"86e81b21.d62dc","type":"function","z":"346372da.3568f6","name":"Function MAP","func":"\n//console.log(msg.payload);\nlet obj = {};\n\nmsg.payload.map(aux => {\n    obj= aux;\n});\n\nmsg.payload= obj;\n//console.log(dtoPlaza);\n\n\n//msg.payload.map(m =>{\n//    const {id_box,id_patineta,id_parking,fecha,email,accion,estado}= m;\n//    console.log(fecha);\n//});\n\n//msg.str= msg.payload[0].length;\n//msg.payload= dtoemail;\n\n//msg= msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":440,"wires":[["95f5bd10.2a6c7"]]},{"id":"3b15a2e0.1a949e","type":"function","z":"346372da.3568f6","name":"","func":"msg.payload= msg.payload.map((m,index)=>index);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":460,"wires":[[]]},{"id":"a2d671c4.e5d45","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"salida","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":360,"wires":[]},{"id":"f648a79a.d3177","type":"function","z":"346372da.3568f6","name":"Function FILTER","func":"let obj = {};\n\nmsg.payload.filter(aux => {\n    \n    if (aux.email== \"pepito@gmail.com\"){\n         obj= aux; \n    }\n});\n\nmsg.payload= obj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["95f5bd10.2a6c7","e6ce8155.c53178","d51e1851.847ec"]]},{"id":"2edd58bd.ee2c88","type":"function","z":"346372da.3568f6","name":"devolviendo MAP COMPLETO (todo el contenido del array) AL SERVER CENTRAL","func":"msg.arr= msg.payload.map(m=>m);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":20,"wires":[["83cba44b.53a63","8777bfb5.00a248","af00896.e05e9f8"]]},{"id":"8777bfb5.00a248","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"arr","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":20,"wires":[]},{"id":"83cba44b.53a63","type":"function","z":"346372da.3568f6","name":"FORE MAP (LEER UN MAP)","func":"\nmsg.salida = \"\";\nmsg.arr.forEach(m=>{\n    const {fecha,email,id_box} = m ; \n    msg.salida+= `${fecha} ${email}$$`;\n    //console.log(typeof fecha);\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["a0a870d2.2c543"]]},{"id":"a0a870d2.2c543","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"salida","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"344a0cf5.5ab764","type":"function","z":"346372da.3568f6","name":"CONCATENAR TODA LA SALIDA DE UN MAP, poniendo delimitador \"$$\"","func":"\nmsg.salida = \"\";\nmsg.arr.forEach(m=>{\n    const {fecha,email} = m ; \n    msg.salida+= `${fecha} ${email}$$`;\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":360,"wires":[["a2d671c4.e5d45"]]},{"id":"af00896.e05e9f8","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":80,"wires":[]},{"id":"e6ce8155.c53178","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.id_box","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":560,"wires":[]},{"id":"d51e1851.847ec","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.fecha","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":640,"wires":[]},{"id":"9466cb15.bcd708","type":"mysql","z":"346372da.3568f6","mydb":"a7d0d2bc.c05e6","name":"","x":310,"y":260,"wires":[["2edd58bd.ee2c88","f648a79a.d3177"]]},{"id":"5adb84b8.e4908c","type":"delay","z":"69e8b34b.f16a04","name":"Timed_SHOW_QR","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":320,"wires":[["15e4520.81a502e"]]},{"id":"800f8411.e5ced8","type":"function","z":"69e8b34b.f16a04","name":"Carrousel_Anounces","func":"\nif (flow.get(\"aux\")==0){\n    msg.payload=\"http://127.0.0.1:3000/bluecity_b\";\n    flow.set(\"aux\",1);\n}\nelse if (flow.get(\"aux\")==1){\n    msg.payload=\"https://yt3.ggpht.com/ytc/AAUvwniRf-GZxwWR1KTB5qgJab2J1qaYYlGkWU9TeDbP=s900-c-k-c0x00ffffff-no-rj\";\n    flow.set(\"aux\",2);\n}\nelse if (flow.get(\"aux\")==2){\n    msg.payload=\"http://1.bp.blogspot.com/-q_DcuAIMJyg/Uds8Kscy2eI/AAAAAAAAAec/pjr4b7RyqEk/s320/anuncie-con-nosotros.fw_.png\";\n    flow.set(\"aux\",0);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":120,"wires":[["3b3dfb84.467b5c","16792185.10f34e"]]},{"id":"1956d5ef.7c8d6a","type":"http response","z":"69e8b34b.f16a04","name":"Request OK (201)","statusCode":"201","headers":{},"x":290,"y":580,"wires":[]},{"id":"be0c9ebc.dc9ee8","type":"function","z":"69e8b34b.f16a04","name":"Make FLOW.SET \"aux\" y \"qr_aux\"","func":"flow.set(\"aux\",0);\nflow.set(\"qr_aux\", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["800f8411.e5ced8"]]},{"id":"3b3dfb84.467b5c","type":"delay","z":"69e8b34b.f16a04","name":"Timed_Change_Image","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":40,"wires":[["800f8411.e5ced8"]]},{"id":"16792185.10f34e","type":"function","z":"69e8b34b.f16a04","name":"Show IMAGES IF QR NOT exists","func":"if (flow.get(\"qr_aux\")==\"\"){\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":200,"wires":[["e44291e9.07df5"]]},{"id":"15e4520.81a502e","type":"function","z":"69e8b34b.f16a04","name":"Clean_QR_&_Send_APP_Image","func":"flow.set(\"qr_aux\", \"\");\nmsg.qrcodeinput=\"\";\nmsg.payload=\"http://127.0.0.1:3000/bluecity_b\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["7eb9b611.bfdda","e44291e9.07df5"]]},{"id":"f33e22f1.9eaa4","type":"debug","z":"eba153e4.459308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"salida","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1460,"wires":[]},{"id":"be230ac1.6923e8","type":"function","z":"eba153e4.459308","name":"ABRIENDO PUERTA","func":"msg.payload = \"abriendo puerta\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1380,"wires":[["f33e22f1.9eaa4"]]},{"id":"54f61d2c.87e85c","type":"function","z":"eba153e4.459308","name":"Creando Flow.get \"json_obj\"","func":"flow.set(\"json_obj\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":60,"wires":[["c70aa328.028ce"]]},{"id":"5538176a.d2652","type":"http response","z":"eba153e4.459308","name":"","statusCode":"200","headers":{},"x":1440,"y":180,"wires":[]},{"id":"20f8183.4f79ae8","type":"function","z":"eba153e4.459308","name":"Leyendo 1DATO! del JSON","func":"let id_box= flow.get (\"json_obj\");\nmsg.payload = id_box.id_box;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1520,"wires":[["f33e22f1.9eaa4"]]},{"id":"a02e020f.1de2c","type":"mysql","z":"eba153e4.459308","mydb":"4cc623a9.a9e1cc","name":"parking_db","x":610,"y":140,"wires":[["aab7544.77d9d28"]]},{"id":"c70aa328.028ce","type":"function","z":"eba153e4.459308","name":"Petición_estado_box_puerta","func":"let id_box= flow.get (\"json_obj\");\nid_box= id_box.id_box;\nmsg.topic = \"SELECT estado_puerta, estado_box from boxes where id_box=\"+id_box;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["a02e020f.1de2c"]]},{"id":"aab7544.77d9d28","type":"function","z":"eba153e4.459308","name":"Mapeando_resultado","func":"\nlet puerta= \"\";\nlet box = \"\";\nmsg.payload.forEach(m=>{\n    const {estado_puerta,estado_box} = m ; \n    box= `${estado_box}`;\n    puerta=`${estado_puerta}`;\n    //console.log(typeof fecha);\n});\n\nif (box==0 && puerta==0){\n    msg.response= \"ok\";\n} else if (box==1 && puerta==0){\n    msg.response= \"ok\";\n} else {\n    msg.response= \"error\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":220,"wires":[["4044292c.343058"]]},{"id":"4044292c.343058","type":"switch","z":"eba153e4.459308","name":"","property":"response","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":220,"wires":[["5538176a.d2652","a00d5701.38c79"],["b72477d0.83e828"]]},{"id":"92b16212.7850d8","type":"http response","z":"eba153e4.459308","name":"","statusCode":"600","headers":{"content-type":"text/plain"},"x":1440,"y":240,"wires":[]},{"id":"b72477d0.83e828","type":"function","z":"eba153e4.459308","name":"Agregando Mensaje a devolver","func":"msg.payload =\"Esto es una basura\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":240,"wires":[["92b16212.7850d8"]]},{"id":"8020bee2.a6972","type":"http in","z":"eba153e4.459308","name":"","url":"/open_door","method":"post","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["54f61d2c.87e85c"]]},{"id":"8d33df05.620da","type":"comment","z":"eba153e4.459308","name":"comprobacion SOLICITUD para ABRIR puerta (decide si abre o no segun el estado de esta)","info":"","x":880,"y":80,"wires":[]},{"id":"44bacb26.02170c","type":"s7 in","z":"eba153e4.459308","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":870,"y":1520,"wires":[[]]},{"id":"4c48d7a0.05b31","type":"s7 out","z":"eba153e4.459308","endpoint":"","variable":"","name":"","x":1040,"y":1520,"wires":[]},{"id":"a00d5701.38c79","type":"pi-gpiod out","z":"eba153e4.459308","name":"Abrir_puerta","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","freq":"50","x":1430,"y":120,"wires":[]},{"id":"6745f2fd.bf2b1c","type":"pi-gpiod out","z":"eba153e4.459308","name":"Cerrar_puerta","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"500","sermax":"500","freq":"50","x":880,"y":1440,"wires":[]},{"id":"f287087.bc2cdf8","type":"function","z":"eba153e4.459308","name":"Creando Flow.get \"json_obj_close\"","func":"flow.set(\"json_obj_close\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["d44ea28.89cb2e"]]},{"id":"f1e6b2c5.22c7f","type":"http response","z":"eba153e4.459308","name":"","statusCode":"200","headers":{},"x":1440,"y":420,"wires":[]},{"id":"1d985432.97e2d4","type":"mysql","z":"eba153e4.459308","mydb":"4cc623a9.a9e1cc","name":"parking_db","x":610,"y":380,"wires":[["7bdd2ea.c2595d"]]},{"id":"d44ea28.89cb2e","type":"function","z":"eba153e4.459308","name":"Petición_estado_box_puerta","func":"let id_box= flow.get (\"json_obj_close\");\nid_box= id_box.id_box;\nmsg.id_box=id_box;\nmsg.topic = \"SELECT estado_puerta, estado_box from boxes where id_box=\"+id_box;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["1d985432.97e2d4","8a65eb91.286cc8"]]},{"id":"7bdd2ea.c2595d","type":"function","z":"eba153e4.459308","name":"Mapeando_resultado","func":"\nlet puerta= \"\";\nlet box = \"\";\nmsg.payload.forEach(m=>{\n    const {estado_puerta,estado_box} = m ; \n    box= `${estado_box}`;\n    puerta=`${estado_puerta}`;\n    //console.log(typeof fecha);\n});\n\nmsg.puerta=puerta;\nmsg.box=box;\n\nif (box==0 && puerta==1){\n    msg.response= \"ok\";\n} else if (box==1 && puerta==1){\n    msg.response= \"ok\";\n} else {\n    msg.response= \"error\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":440,"wires":[["18bb7c5d.51b46c","8a65eb91.286cc8"]]},{"id":"18bb7c5d.51b46c","type":"switch","z":"eba153e4.459308","name":"","property":"response","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":440,"wires":[["f1e6b2c5.22c7f","a19b51be.a373c8","1c14867d.aded3a"],["1cb6630e.950585"]]},{"id":"8c7032c7.d54968","type":"http response","z":"eba153e4.459308","name":"","statusCode":"600","headers":{"content-type":"text/plain"},"x":1440,"y":460,"wires":[]},{"id":"1cb6630e.950585","type":"function","z":"eba153e4.459308","name":"Agregando Mensaje a devolver","func":"msg.payload =\"Esto es una basura\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":460,"wires":[["8c7032c7.d54968"]]},{"id":"f1c2804b.afa2a","type":"http in","z":"eba153e4.459308","name":"","url":"/close_door","method":"post","upload":false,"swaggerDoc":"","x":80,"y":400,"wires":[["f287087.bc2cdf8"]]},{"id":"55c49292.68c5ac","type":"comment","z":"eba153e4.459308","name":"comprobacion SOLICITUD para CERRAR puerta (decide si abre o no segun el estado de esta)","info":"","x":900,"y":340,"wires":[]},{"id":"7ee3cc37.03f5ac","type":"pi-gpiod out","z":"eba153e4.459308","name":"Cerrar_puerta","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"500","sermax":"500","freq":"50","x":1440,"y":360,"wires":[]},{"id":"1a8a5243.7b183e","type":"mysql","z":"eba153e4.459308","mydb":"4cc623a9.a9e1cc","name":"parking_db","x":770,"y":1040,"wires":[[]]},{"id":"1113025c.841c36","type":"http response","z":"b49f0ba8.f4c1b8","name":"","statusCode":"200","headers":{},"x":1200,"y":360,"wires":[]},{"id":"232a3002.551138","type":"mysql","z":"b49f0ba8.f4c1b8","mydb":"4cc623a9.a9e1cc","name":"parking_db","x":370,"y":320,"wires":[["f6f9a750.ba792"]]},{"id":"1b35a4ff.33dd53","type":"function","z":"b49f0ba8.f4c1b8","name":"Petición_estado_box_puerta","func":"\nid_box= msg.static_box_id;\nmsg.topic = \"SELECT estado_puerta from boxes where id_box=\"+id_box;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":380,"wires":[["232a3002.551138"]]},{"id":"f6f9a750.ba792","type":"function","z":"b49f0ba8.f4c1b8","name":"Mapeando_resultado","func":"\nlet box = msg.static_box_id;\nlet puerta= \"\";\n\nmsg.payload.forEach(m=>{\n    const {estado_puerta} = m ; \n    puerta=`${estado_puerta}`;\n    //console.log(typeof fecha);\n});\n\n\nif (box==0 && puerta==1){\n    msg.response= \"ok\";\n} else if (box==1 && puerta==1){\n    msg.response= \"ok\";\n} else {\n    msg.response= \"error\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["5d2981ef.f99eb"]]},{"id":"5d2981ef.f99eb","type":"switch","z":"b49f0ba8.f4c1b8","name":"","property":"response","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":380,"wires":[["1113025c.841c36","cba0532d.aa3d38","61a56ee6.b89608"],["86384a46.204e38"]]},{"id":"eafa105f.bec69","type":"http response","z":"b49f0ba8.f4c1b8","name":"","statusCode":"600","headers":{"content-type":"text/plain"},"x":1200,"y":400,"wires":[]},{"id":"86384a46.204e38","type":"function","z":"b49f0ba8.f4c1b8","name":"Agregando Mensaje a devolver","func":"msg.payload =\"La puerta YA ESTABA cerrada\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["eafa105f.bec69"]]},{"id":"cba0532d.aa3d38","type":"pi-gpiod out","z":"b49f0ba8.f4c1b8","name":"Cerrar_puerta","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"500","sermax":"500","freq":"50","x":1180,"y":280,"wires":[]},{"id":"e8071f63.3ac07","type":"pi-gpiod in","z":"b49f0ba8.f4c1b8","name":"sensor_puerta1","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":80,"y":40,"wires":[["355bbd53.07a9aa"]]},{"id":"355bbd53.07a9aa","type":"rbe","z":"b49f0ba8.f4c1b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":40,"wires":[["fca73496.b6dee"]]},{"id":"fca73496.b6dee","type":"function","z":"b49f0ba8.f4c1b8","name":"determinar_estado_sensor","func":"msg.static_box_id=1;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["9455e6de.52249"]]},{"id":"888327d3.46fc68","type":"pi-gpiod in","z":"b49f0ba8.f4c1b8","name":"sensor_puerta","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":90,"y":160,"wires":[["e857d272.57f05"]]},{"id":"e857d272.57f05","type":"rbe","z":"b49f0ba8.f4c1b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":140,"wires":[["43619258.4b696c"]]},{"id":"43619258.4b696c","type":"function","z":"b49f0ba8.f4c1b8","name":"determinar_estado_sensor","func":"msg.static_box_id=3;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["9ac92e00.22026"]]},{"id":"b646408e.95946","type":"pi-gpiod in","z":"b49f0ba8.f4c1b8","name":"sensor_puerta4","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":80,"y":240,"wires":[["a77828fc.a3fed"]]},{"id":"9455e6de.52249","type":"delay","z":"b49f0ba8.f4c1b8","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":40,"wires":[["1b35a4ff.33dd53"]]},{"id":"a77828fc.a3fed","type":"rbe","z":"b49f0ba8.f4c1b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":200,"wires":[["a1b701f8.ce2848"]]},{"id":"a1b701f8.ce2848","type":"function","z":"b49f0ba8.f4c1b8","name":"determinar_estado_sensor","func":"msg.static_box_id=4;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":200,"wires":[["8e3b3449.82f748"]]},{"id":"7d70d446.f287b4","type":"pi-gpiod in","z":"b49f0ba8.f4c1b8","name":"sensor_puerta2","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":80,"y":100,"wires":[["e9756ed2.09b928"]]},{"id":"e9756ed2.09b928","type":"rbe","z":"b49f0ba8.f4c1b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":80,"wires":[["88907169.cd1958"]]},{"id":"88907169.cd1958","type":"function","z":"b49f0ba8.f4c1b8","name":"determinar_estado_sensor","func":"msg.static_box_id=2;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":100,"wires":[["48cf4178.f2212"]]},{"id":"48cf4178.f2212","type":"delay","z":"b49f0ba8.f4c1b8","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":100,"wires":[["1b35a4ff.33dd53"]]},{"id":"9ac92e00.22026","type":"delay","z":"b49f0ba8.f4c1b8","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":160,"wires":[["1b35a4ff.33dd53"]]},{"id":"8e3b3449.82f748","type":"delay","z":"b49f0ba8.f4c1b8","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":220,"wires":[["1b35a4ff.33dd53"]]},{"id":"9b269a1f.4bb838","type":"debug","z":"b49f0ba8.f4c1b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":240,"wires":[]},{"id":"61a56ee6.b89608","type":"function","z":"b49f0ba8.f4c1b8","name":"Comprobacion","func":"msg.payload=\"cerrando la puerta satisfactoriamente\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[["9b269a1f.4bb838"]]},{"id":"5e07f29.733620c","type":"pi-gpiod in","z":"b7f989e6.c7064","name":"sensor_puerta1","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":120,"y":100,"wires":[["6ce9bb74.107834"]]},{"id":"6ce9bb74.107834","type":"rbe","z":"b7f989e6.c7064","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":330,"y":100,"wires":[["19eb4b11.9c9d85"]]},{"id":"19eb4b11.9c9d85","type":"function","z":"b7f989e6.c7064","name":"determinar_estado_sensor","func":"msg.static_box_id=1;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":100,"wires":[["351a0a29.940ade"]]},{"id":"e43b2db5.54169","type":"switch","z":"b7f989e6.c7064","name":"","property":"static_box_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":440,"wires":[[],[],[],[]]},{"id":"54bd4318.6401fc","type":"pi-gpiod in","z":"b7f989e6.c7064","name":"sensor_puerta","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":130,"y":220,"wires":[["4e88e9b4.ccc2d"]]},{"id":"4e88e9b4.ccc2d","type":"rbe","z":"b7f989e6.c7064","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":200,"wires":[["864e316c.10c02"]]},{"id":"864e316c.10c02","type":"function","z":"b7f989e6.c7064","name":"determinar_estado_sensor","func":"msg.static_box_id=3;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["bcece7b0.7452b8"]]},{"id":"8f6cbef5.0cbdb","type":"pi-gpiod in","z":"b7f989e6.c7064","name":"sensor_puerta4","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":140,"y":300,"wires":[["1d9e320e.6e7f5e"]]},{"id":"351a0a29.940ade","type":"delay","z":"b7f989e6.c7064","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":100,"wires":[["e43b2db5.54169"]]},{"id":"1d9e320e.6e7f5e","type":"rbe","z":"b7f989e6.c7064","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":260,"wires":[["1388cb7f.84b495"]]},{"id":"1388cb7f.84b495","type":"function","z":"b7f989e6.c7064","name":"determinar_estado_sensor","func":"msg.static_box_id=4;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":260,"wires":[["744cc33d.009f9c"]]},{"id":"cc9daf56.4d674","type":"pi-gpiod in","z":"b7f989e6.c7064","name":"sensor_puerta2","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":120,"y":160,"wires":[["76cc0067.4202c"]]},{"id":"76cc0067.4202c","type":"rbe","z":"b7f989e6.c7064","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":140,"wires":[["1e7dbaae.eed7c5"]]},{"id":"1e7dbaae.eed7c5","type":"function","z":"b7f989e6.c7064","name":"determinar_estado_sensor","func":"msg.static_box_id=2;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":160,"wires":[["73913057.c6046"]]},{"id":"73913057.c6046","type":"delay","z":"b7f989e6.c7064","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":160,"wires":[["e43b2db5.54169"]]},{"id":"bcece7b0.7452b8","type":"delay","z":"b7f989e6.c7064","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":220,"wires":[["e43b2db5.54169"]]},{"id":"744cc33d.009f9c","type":"delay","z":"b7f989e6.c7064","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":280,"wires":[["e43b2db5.54169"]]},{"id":"3a6b38bd.f15c4","type":"mysql","z":"b7f989e6.c7064","mydb":"4cc623a9.a9e1cc","name":"","x":670,"y":440,"wires":[[]]},{"id":"a8edec6b.f99688","type":"function","z":"b7f989e6.c7064","name":"","func":"msg.topic= \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":460,"wires":[[]]},{"id":"30e32234.67971e","type":"comment","z":"eba153e4.459308","name":"SE HA IMPLEMENTADO UN CIERRE DE SEGURIDAD TEMPORIZADO","info":"","x":260,"y":540,"wires":[]},{"id":"6515495.db8e438","type":"http response","z":"eba153e4.459308","name":"","statusCode":"200","headers":{},"x":1480,"y":840,"wires":[]},{"id":"5402aa95.431964","type":"mysql","z":"eba153e4.459308","mydb":"4cc623a9.a9e1cc","name":"parking_db","x":390,"y":860,"wires":[["1acf69a3.0a31a6"]]},{"id":"99665731.311ba8","type":"function","z":"eba153e4.459308","name":"Petición_estado_box_puerta","func":"\nid_box= msg.static_box_id;\nmsg.topic = \"SELECT estado_puerta from boxes where id_box=\"+id_box;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":920,"wires":[["5402aa95.431964"]]},{"id":"1acf69a3.0a31a6","type":"function","z":"eba153e4.459308","name":"Mapeando_resultado","func":"\nlet id_box = msg.static_box_id;\nlet puerta= \"\";\nlet box = \"\";\nmsg.payload.forEach(m=>{\n    const {estado_puerta,estado_box} = m ; \n    box= `${estado_box}`;\n    puerta=`${estado_puerta}`;\n    //console.log(typeof fecha);\n});\n\n\nmsg.id_box=id_box;\nmsg.box=box;\nmsg.puerta=puerta;\n\nif (box==0 && puerta==1){\n    msg.response= \"ok\";\n} else if (box==1 && puerta==1){\n    msg.response= \"ok\";\n} else {\n    msg.response= \"error\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":920,"wires":[["1b4c9a9a.c0460d"]]},{"id":"1b4c9a9a.c0460d","type":"switch","z":"eba153e4.459308","name":"","property":"response","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":840,"wires":[["6515495.db8e438","6b13c5c2.0bcf84","7cc65f9e.561bb8","a19b51be.a373c8"],["8b21619d.e6e09"]]},{"id":"502a3d63.b49944","type":"http response","z":"eba153e4.459308","name":"","statusCode":"600","headers":{"content-type":"text/plain"},"x":1480,"y":880,"wires":[]},{"id":"8b21619d.e6e09","type":"function","z":"eba153e4.459308","name":"Agregando Mensaje a devolver","func":"msg.payload =\"La puerta YA ESTABA cerrada\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":900,"wires":[["502a3d63.b49944"]]},{"id":"6b13c5c2.0bcf84","type":"pi-gpiod out","z":"eba153e4.459308","name":"Cerrar_puerta","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"ser","sermin":"500","sermax":"500","freq":"50","x":1460,"y":760,"wires":[]},{"id":"e9479f03.59244","type":"pi-gpiod in","z":"eba153e4.459308","name":"sensor_puerta1","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":100,"y":580,"wires":[["a02719ad.af1ea"]]},{"id":"a02719ad.af1ea","type":"rbe","z":"eba153e4.459308","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":580,"wires":[["30bdb378.7b87bc"]]},{"id":"30bdb378.7b87bc","type":"function","z":"eba153e4.459308","name":"determinar_estado_sensor","func":"msg.static_box_id=1;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":580,"wires":[["ec44d398.f52df"]]},{"id":"d9529cfb.755f28","type":"pi-gpiod in","z":"eba153e4.459308","name":"sensor_puerta","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":110,"y":700,"wires":[["7c6140e5.b0f6a8"]]},{"id":"7c6140e5.b0f6a8","type":"rbe","z":"eba153e4.459308","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":680,"wires":[["2cd91993.fc7d26"]]},{"id":"2cd91993.fc7d26","type":"function","z":"eba153e4.459308","name":"determinar_estado_sensor","func":"msg.static_box_id=3;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":700,"wires":[["e64efb35.1cce4"]]},{"id":"22e110d2.9e37b8","type":"pi-gpiod in","z":"eba153e4.459308","name":"sensor_puerta4","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":100,"y":780,"wires":[["50cfe9f2.12e8e8"]]},{"id":"ec44d398.f52df","type":"delay","z":"eba153e4.459308","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":580,"wires":[["99665731.311ba8"]]},{"id":"50cfe9f2.12e8e8","type":"rbe","z":"eba153e4.459308","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":740,"wires":[["f93ce948.aa7fe8"]]},{"id":"f93ce948.aa7fe8","type":"function","z":"eba153e4.459308","name":"determinar_estado_sensor","func":"msg.static_box_id=4;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":740,"wires":[["5684d3e4.5cb6e4"]]},{"id":"be687bda.443a3","type":"pi-gpiod in","z":"eba153e4.459308","name":"sensor_puerta2","host":"localhost","port":8888,"pin":"5","intype":"PUD_UP","debounce":"1000","read":false,"x":100,"y":640,"wires":[["a45bda7c.cb977"]]},{"id":"a45bda7c.cb977","type":"rbe","z":"eba153e4.459308","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":620,"wires":[["b1fa9777.610c5"]]},{"id":"b1fa9777.610c5","type":"function","z":"eba153e4.459308","name":"determinar_estado_sensor","func":"msg.static_box_id=2;\n\n\nif (msg.payload==1){\n    return msg;\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":640,"wires":[["512ad27c.b9ad04"]]},{"id":"512ad27c.b9ad04","type":"delay","z":"eba153e4.459308","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":640,"wires":[["99665731.311ba8"]]},{"id":"e64efb35.1cce4","type":"delay","z":"eba153e4.459308","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":700,"wires":[["99665731.311ba8"]]},{"id":"5684d3e4.5cb6e4","type":"delay","z":"eba153e4.459308","name":"delay_cierre_automatico","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":760,"wires":[["99665731.311ba8"]]},{"id":"cf06f5e0.45df18","type":"debug","z":"eba153e4.459308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":720,"wires":[]},{"id":"7cc65f9e.561bb8","type":"function","z":"eba153e4.459308","name":"Comprobacion","func":"msg.payload=\"cerrando la puerta satisfactoriamente\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":720,"wires":[["cf06f5e0.45df18"]]},{"id":"a19b51be.a373c8","type":"function","z":"eba153e4.459308","name":"flow.set(\"datos\",prep_json)","func":"let prep_json={\"id_box\":msg.id_box,\"estado_puerta\":msg.puerta,\"estado_box\":msg.box};\n\n\nflow.set(\"datos\",prep_json);\nmsg.payload=prep_json;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":600,"wires":[["7d6d2884.9fa7e8"]]},{"id":"ab09cab3.2f7c68","type":"debug","z":"eba153e4.459308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.id_box","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1120,"wires":[]},{"id":"8a65eb91.286cc8","type":"debug","z":"eba153e4.459308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":520,"wires":[]},{"id":"1b6b0369.3a6405","type":"function","z":"eba153e4.459308","name":"Recogiendo \"datos\" y alterando para realizar la consulta UPDATE del BOX","func":"msg.payload=flow.get(\"datos\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1040,"wires":[["ab09cab3.2f7c68"]]},{"id":"1c14867d.aded3a","type":"function","z":"eba153e4.459308","name":"Comprobacion","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":380,"wires":[["7ee3cc37.03f5ac"]]},{"id":"7d6d2884.9fa7e8","type":"link out","z":"eba153e4.459308","name":"","links":["89be1178.b3f13"],"x":1335,"y":600,"wires":[]},{"id":"89be1178.b3f13","type":"link in","z":"eba153e4.459308","name":"","links":["7d6d2884.9fa7e8"],"x":35,"y":1040,"wires":[["1b6b0369.3a6405"]]}]