RPI_HTTPRequest-GPIO_Actions(digital,pwd).json
[{"id":"4b964f5b.e239b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"94cdb136.6c068","type":"debug","z":"4b964f5b.e239b8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":80,"wires":[]},{"id":"a83f60f.4240ba","type":"http request","z":"4b964f5b.e239b8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://ifconfig.me","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["94cdb136.6c068","172d24c3.22485b"]]},{"id":"6c06f9e5.25dcf8","type":"inject","z":"4b964f5b.e239b8","name":"Al iniciar, RECOGER su IP publica","props":[{"p":"payload"},{"p":"a","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload","payloadType":"msg","x":160,"y":120,"wires":[["a83f60f.4240ba"]]},{"id":"1a375cfa.4a8933","type":"play audio","z":"4b964f5b.e239b8","name":"aaa","voice":"512","x":930,"y":220,"wires":[]},{"id":"172d24c3.22485b","type":"function","z":"4b964f5b.e239b8","name":"cambiando valor del payload","func":"\nmsg.payload = msg.payload.substring(0,6) + \"257.23; ID_DEL_PARKING\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":220,"wires":[["94cdb136.6c068"]]},{"id":"b07d96f3.6af6e","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":60,"y":360,"wires":[["6a4d077a.7fe9b8"]]},{"id":"125f7b14.e30add","type":"debug","z":"4b964f5b.e239b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"d9adf39b.defc28","type":"function","z":"4b964f5b.e239b8","name":"cambiando valor del payload","func":"\nmsg.payload = \"ORDEN REIBIDA OR UN 'GET a ip:1880/test'\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["b92ed689.9ce37"]]},{"id":"b92ed689.9ce37","type":"http response","z":"4b964f5b.e239b8","name":"","statusCode":"","headers":{},"x":630,"y":300,"wires":[]},{"id":"d094df05.0bee1","type":"http request","z":"4b964f5b.e239b8","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"192.168.0.20:8000/","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":460,"wires":[["125f7b14.e30add"]]},{"id":"6a4d077a.7fe9b8","type":"function","z":"4b964f5b.e239b8","name":"cambiando valor del payload","func":"\nmsg.payload = \"asdasfdsfgsdhg\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["d094df05.0bee1","125f7b14.e30add"]]},{"id":"c75879df.e4c538","type":"http request","z":"4b964f5b.e239b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"192.168.0.20:8000/numbers","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":520,"wires":[["61a436ba.28305"]]},{"id":"24f6d933.af324e","type":"inject","z":"4b964f5b.e239b8","name":"Pedir Id Usuario","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":520,"wires":[["61a436ba.28305","c75879df.e4c538"]]},{"id":"61a436ba.28305","type":"debug","z":"4b964f5b.e239b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"89087df2.973b2","type":"rpi-gpio out","z":"4b964f5b.e239b8","name":"","pin":"11","set":"","level":"0","freq":"50","out":"pwm","x":820,"y":720,"wires":[]},{"id":"986a85e9.21eda","type":"function","z":"4b964f5b.e239b8","name":"20ºalServo (cerrar)","func":"\n    msg.payload= 20.0;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":660,"wires":[["89087df2.973b2"]]},{"id":"7aee38d.df25748","type":"function","z":"4b964f5b.e239b8","name":"2.5ºalServo (Abrir)","func":"\n    msg.payload= 5.0;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":700,"wires":[["89087df2.973b2"]]},{"id":"81024c8c.b13388","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/abrirPuerta","method":"get","upload":false,"swaggerDoc":"","x":100,"y":760,"wires":[["7aee38d.df25748","5b1b7009.645d8"]]},{"id":"1f3fd02a.62fa9","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/cerrarPuerta","method":"get","upload":false,"swaggerDoc":"","x":110,"y":680,"wires":[["986a85e9.21eda","5b1b7009.645d8"]]},{"id":"a39066d2.c5a308","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/pOccupied","method":"get","upload":false,"swaggerDoc":"","x":120,"y":960,"wires":[["8377c1b6.b9d6f","6e15b915.edc3d","5b1b7009.645d8"]]},{"id":"f6b035ba.59c09","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/pFree","method":"get","upload":false,"swaggerDoc":"","x":107,"y":1060,"wires":[["f256f4b0.98a48","4541b95c.d85b6","5b1b7009.645d8"]]},{"id":"f256f4b0.98a48","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1060,"wires":[["605c96a5.f44658"]]},{"id":"605c96a5.f44658","type":"rpi-gpio out","z":"4b964f5b.e239b8","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":700,"y":1040,"wires":[]},{"id":"8377c1b6.b9d6f","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":960,"wires":[["86d43ed.12697c"]]},{"id":"86d43ed.12697c","type":"rpi-gpio out","z":"4b964f5b.e239b8","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":720,"y":960,"wires":[]},{"id":"4541b95c.d85b6","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1140,"wires":[["86d43ed.12697c","eef3de8b.a4229"]]},{"id":"6e15b915.edc3d","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":900,"wires":[["605c96a5.f44658","eef3de8b.a4229"]]},{"id":"5b1b7009.645d8","type":"http response","z":"4b964f5b.e239b8","name":"","statusCode":"200","headers":{},"x":300,"y":800,"wires":[]},{"id":"c3909e46.f0359","type":"http in","z":"4b964f5b.e239b8","name":"","url":"/pRes","method":"get","upload":false,"swaggerDoc":"","x":60,"y":860,"wires":[["d6828bc1.7a915","771bbf02.0456c","5b1b7009.645d8"]]},{"id":"d6828bc1.7a915","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":860,"wires":[["eef3de8b.a4229"]]},{"id":"eef3de8b.a4229","type":"rpi-gpio out","z":"4b964f5b.e239b8","name":"","pin":"22","set":"","level":"0","freq":"","out":"out","x":740,"y":860,"wires":[]},{"id":"771bbf02.0456c","type":"function","z":"4b964f5b.e239b8","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[["86d43ed.12697c","605c96a5.f44658"]]}]