RPI_Inject-GPIO_Actions(digital,pwd).json
[{"id":"d0af6908.ea10d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7697b308.307b8c","type":"inject","z":"d0af6908.ea10d8","name":"Al iniciar, cerrar puertas","props":[{"p":"payload"},{"p":"a","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload","payloadType":"msg","x":150,"y":40,"wires":[["5b6fd45f.37573c"]]},{"id":"e543be94.493b8","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"","pin":"11","set":"","level":"0","freq":"50","out":"pwm","x":820,"y":160,"wires":[]},{"id":"5b6fd45f.37573c","type":"function","z":"d0af6908.ea10d8","name":"20ºalServo (cerrar)","func":"\n    msg.payload= 20.0;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":120,"wires":[["e543be94.493b8","ac653bb2.f8633"]]},{"id":"2f49a054.c36688","type":"function","z":"d0af6908.ea10d8","name":"2.5ºalServo (Abrir)","func":"\n    msg.payload= 2.5;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":200,"wires":[["e543be94.493b8","ac653bb2.f8633"]]},{"id":"56ed5d31.58f264","type":"rpi-gpio in","z":"d0af6908.ea10d8","name":"SensorPuerta","pin":"29","intype":"up","debounce":"25","read":true,"x":90,"y":300,"wires":[["fec88abe.12f958"]]},{"id":"4e9e94e4.2d08f4","type":"rpi-gpio in","z":"d0af6908.ea10d8","name":"SensorPatinetaParking","pin":"31","intype":"up","debounce":"25","read":true,"x":100,"y":400,"wires":[["6ec22a14.c01aac"]]},{"id":"55e33f35.f97778","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"LedDoorState_CLOSED_is_ON","pin":"18","set":"","level":"0","freq":"","out":"out","x":1110,"y":300,"wires":[]},{"id":"dccda928.814c6","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"LedPatintaIN_is_ON","pin":"16","set":"","level":"0","freq":"","out":"out","x":740,"y":400,"wires":[]},{"id":"6ec22a14.c01aac","type":"function","z":"d0af6908.ea10d8","name":"señal SensorPuerta viene de automata","func":"if (msg.payload==0){\n    msg.payload=1;\n    return msg;\n}else{\n    msg.payload=0;\n    return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":400,"wires":[["dccda928.814c6"]]},{"id":"fec88abe.12f958","type":"function","z":"d0af6908.ea10d8","name":"señal SensorPuerta viene de automata","func":"\nif (msg.payload==0){\n    msg.payload=1;\n    return msg;\n}else{\n    msg.payload=0;\n    return msg;   \n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":300,"wires":[["55e33f35.f97778"]]},{"id":"7d528fc6.48191","type":"comment","z":"d0af6908.ea10d8","name":"cambiar por consultas a BBDD con el estado","info":"","x":810,"y":360,"wires":[]},{"id":"429995d9.b91b6c","type":"inject","z":"d0af6908.ea10d8","name":"statusFree","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":540,"wires":[["97b0239b.164948","9b8e67c8.c3f01","f904713d.873fa8","89d418ea.79e1d"]]},{"id":"c4819274.491a8","type":"inject","z":"d0af6908.ea10d8","name":"statusBusy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":80,"y":760,"wires":[["7a4a01e0.bc11f","f904713d.873fa8","2ef8a0b.8d6c56"]]},{"id":"7208a791.ebc628","type":"inject","z":"d0af6908.ea10d8","name":"statusLocked","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":660,"wires":[["9b8e67c8.c3f01","7a4a01e0.bc11f","2f56abab.3b816c"]]},{"id":"97b0239b.164948","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"LedStatusFree","pin":"13","set":"","level":"0","freq":"","out":"out","x":720,"y":540,"wires":[]},{"id":"2ef8a0b.8d6c56","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"LedStatusBusy","pin":"15","set":"","level":"0","freq":"","out":"out","x":720,"y":760,"wires":[]},{"id":"9b8e67c8.c3f01","type":"function","z":"d0af6908.ea10d8","name":"apagar","func":"\nif (msg.payload==1){\n    msg.payload=0;\n    return msg;\n}else{\n    msg.payload=1;\n    return msg;   \n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["2ef8a0b.8d6c56"]]},{"id":"7a4a01e0.bc11f","type":"function","z":"d0af6908.ea10d8","name":"apagar","func":"\nif (msg.payload==1){\n    msg.payload=0;\n    return msg;\n}else{\n    msg.payload=1;\n    return msg;   \n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":720,"wires":[["97b0239b.164948"]]},{"id":"2f56abab.3b816c","type":"rpi-gpio out","z":"d0af6908.ea10d8","name":"LedStatusLocked","pin":"22","set":"","level":"0","freq":"","out":"out","x":730,"y":660,"wires":[]},{"id":"f904713d.873fa8","type":"function","z":"d0af6908.ea10d8","name":"apagar","func":"\nif (msg.payload==1){\n    msg.payload=0;\n    return msg;\n}else{\n    msg.payload=1;\n    return msg;   \n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":600,"wires":[["2f56abab.3b816c"]]},{"id":"ce6e324b.10cdc8","type":"inject","z":"d0af6908.ea10d8","name":"arrivePOST_CerrarPuerta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":120,"wires":[["5b6fd45f.37573c"]]},{"id":"e3fadf64.0d207","type":"inject","z":"d0af6908.ea10d8","name":"arrivePOST_AbrirPuerta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":200,"wires":[["2f49a054.c36688"]]},{"id":"89d418ea.79e1d","type":"debug","z":"d0af6908.ea10d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":460,"wires":[]},{"id":"c113c36a.be0be8","type":"function","z":"d0af6908.ea10d8","name":"0alServo (Abrir)","func":"\n    msg.payload= 0;\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":60,"wires":[["e543be94.493b8"]]},{"id":"ac653bb2.f8633","type":"delay","z":"d0af6908.ea10d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":60,"wires":[["c113c36a.be0be8"]]}]